
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Rock!</h1>
    <p>Shall we play a game?</p>
    <form action="/Greet/Index" method="get">
        <input type="text" name="name" value="" />
        <input type="submit" name="Submit" value="" />
    </form>
</body>
</html>
